<%- include("../partials/adminheader.ejs") %>

<!-- Sign In Start -->
<div class="container-fluid">
  <div
    class="row h-100 align-items-center justify-content-center"
    style="min-height: 100vh"
  >
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <form method="post" class="bg-light rounded p-4 p-sm-5 my-4 mx-3 shadow">
        <div class="row d-flex align-items-center justify-content-center text-center mb-3">
          <img src="/admin/img/logo.png" alt="Logo" class="img-fluid mb-1" style="width: 6.5rem; height: 5rem; object-fit: cover;"/>
          <h3 class="text-primary-full"><i class="me-2"></i>Salem Bakhit School</h3>
          <!-- <span>Login and start managing content.</span> -->
        </div>
        <% if (success && success.length > 0) { %>
          
         <div class="alert alert-danger text-center" id="success" role="alert">
            <%= success[0] %>
                     </div>
          <% } %>
          
          <% let errMsg = error && error.length ? error[0] : (locals && locals.error && locals.error[0]); %>
          <% if (error && error.length > 0) { %>
            <% console.log(error)%>
  <div class="alert alert-danger alert-dismissible fade show text-center" id="errMessage" role="alert">
    <%= error[0] %>
   
  </div>
<% } %>


        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Enter Username"
            name="username"
            required
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-4">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Enter Password"
            name="password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <a href="#" class="d-none">Forgot Password</a>
        </div>
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
          Log In
        </button>
      </form>
    </div>
  </div>
</div>
<!-- Sign In End -->

</div>
</div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/jquery.min.js"></script>
    <script src="/admin/lib/jquery.ui.min.js"></script>
    <script src="/admin/lib/bootstrap.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>
    <script>
        const errorMsg = document.getElementById("errMessage");
        // alert(errorMsg.textContent)

        setTimeout(() => { if(errorMsg){
            errorMsg.style.display = 'none';
        }}, 3000)
       
    </script>
</body>

</html>

